<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
		<title>定义新交易</title>
	</head>
	<body>
		<form action="/newtrans" method="post">
            <fieldset>
                <legend>请输入交易信息</legend>
                <p><input name="receiver" placeholder="交易接收者" value="{{receiver}}" style="width:1000px;height:50px"/></p>
                <p><input name="amount" placeholder="交易数量" value="{{amount}}" style="width:1000px;height:50px"/></p>
                <p><input name="information" placeholder="交易信息" value="{{information}}" style="width:1000px;height:50px"/></p>
                <p><input name="pubkey" placeholder="你的公钥" value="{{pubkey}}" style="width:1000px;height:50px"/></p>
                <p><input name="prikey" placeholder="你的私钥" value="{{prikey}}" style="width:1000px;height:50px"/></p>
                <p><button type="submit">提交</button></p>
            </fieldset>
        </form>
    </body>
</html>